# Ignore environment files
.env
.env.*
!.env.example

# Gradle
.gradle/
build/
out/

# IntelliJ IDEA
.idea/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Certs/keys (no subir secretos)
certs/
*.pem
*.key
*.crt
*.cer
*.der
*.p12
*.pfx
*.jks

/clinipets.pem
/entityManagerFactory(EntityManagerFactoryBuilder, PersistenceManagedTypes).md

firebase-service-account.json
service-account.json
*.json
repomix-output.xml
/htmlReport/
backend.plantuml