<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Configuración Única: Logs legibles siempre (Dev y Prod) -->
    <!-- Usamos el appender CONSOLE por defecto de Spring Boot que es bonito y legible -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>